<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw230001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,67}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{105,67}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw230002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{77,77}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{77,77}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw230003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{63,43}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,49},{63,43}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw230004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{65,41}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,51},{65,41}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw230005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{65,47}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,45},{65,47}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw230006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,51},{65,45}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,47},{65,45}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw230007.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,81},{63,43}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,49},{63,43}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw230008.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{77,77}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{77,77}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw230009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,67}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{105,67}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw230010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,67}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{105,67}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>23.png</string>
            <key>size</key>
            <string>{255,159}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be0d903aa13f52a55ddde2754fd0aef1$</string>
            <key>textureFileName</key>
            <string>23.png</string>
        </dict>
    </dict>
</plist>
