<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw32120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{27,62}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,37},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{61,46}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,53},{61,46}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,108},{41,44}}</string>
                <key>offset</key>
                <string>{-17,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,38},{41,44}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{43,42}}</string>
                <key>offset</key>
                <string>{-20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,41},{43,42}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32120005.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,151},{43,42}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,41},{43,42}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32120006.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,65},{41,44}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,32},{41,44}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32120007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{71,56}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{71,56}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32120008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,76}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,23},{71,76}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32120009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{27,62}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,37},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32120010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{27,62}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,37},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3212.png</string>
            <key>size</key>
            <string>{128,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c4bb7d9df2962a8ffdf24478476764e$</string>
            <key>textureFileName</key>
            <string>3212.png</string>
        </dict>
    </dict>
</plist>
