<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw32210001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{25,62}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,37},{25,62}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32210002.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{59,46}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,53},{59,46}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32210003.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,102},{37,38}}</string>
                <key>offset</key>
                <string>{-17,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,44},{37,38}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32210004.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,63},{37,38}}</string>
                <key>offset</key>
                <string>{-19,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,45},{37,38}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32210005.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,141},{37,36}}</string>
                <key>offset</key>
                <string>{-20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,46},{37,36}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32210006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{35,36}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,38},{35,36}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32210007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{71,56}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{71,56}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32210008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,76}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,23},{71,76}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32210009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{25,62}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,37},{25,62}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32210010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{25,62}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,37},{25,62}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3221.png</string>
            <key>size</key>
            <string>{128,197}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcb5fb83ee11d211d8bcccd9fa913cfd$</string>
            <key>textureFileName</key>
            <string>3221.png</string>
        </dict>
    </dict>
</plist>
