<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw38410001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{27,62}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,33},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38410002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{61,48}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,47},{61,48}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38410003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,56}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,32},{63,56}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38410004.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,130},{55,40}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{55,40}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38410005.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,88},{55,40}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,37},{55,40}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38410006.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{57,40}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,32},{57,40}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38410007.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,44},{55,42}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,30},{55,42}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38410008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{61,48}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,47},{61,48}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38410009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{27,62}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,33},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38410010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{27,62}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,33},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3841.png</string>
            <key>size</key>
            <string>{126,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aabfd6bac0b661b124ef801ffd117b6f$</string>
            <key>textureFileName</key>
            <string>3841.png</string>
        </dict>
    </dict>
</plist>
