<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw3930001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{27,61}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw3930002.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{61,47}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,48},{61,47}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw3930003.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{65,65}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{65,65}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw3930004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{65,65}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{65,65}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw3930005.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{65,65}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{65,65}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw3930006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{65,67}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{65,67}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw3930007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,69}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,17},{63,69}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw3930008.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{61,47}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,48},{61,47}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw3930009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{27,61}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw3930010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{27,61}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>393.png</string>
            <key>size</key>
            <string>{250,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b3c5940a951dfdf133a0718f2c1244d$</string>
            <key>textureFileName</key>
            <string>393.png</string>
        </dict>
    </dict>
</plist>
