<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw4010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{25,61}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,34},{25,61}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
            <key>threw4010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,49},{59,47}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,48},{59,47}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
            <key>threw4010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,110},{35,33}}</string>
                <key>offset</key>
                <string>{-19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,45},{35,33}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
            <key>threw4010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,110},{35,31}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,50},{35,31}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
            <key>threw4010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{35,33}}</string>
                <key>offset</key>
                <string>{-19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,51},{35,33}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
            <key>threw4010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{35,31}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{35,31}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
            <key>threw4010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{55,45}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,46},{55,45}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
            <key>threw4010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,49}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{65,49}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
            <key>threw4010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{25,61}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,34},{25,61}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
            <key>threw4010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{25,61}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,34},{25,61}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>401.png</string>
            <key>size</key>
            <string>{126,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78f25e70751de988ca0721260ed11252$</string>
            <key>textureFileName</key>
            <string>401.png</string>
        </dict>
    </dict>
</plist>
