<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw40210001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{27,61}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40210002.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,51},{61,47}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,48},{61,47}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40210003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,114},{29,31}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,48},{29,31}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40210004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{27,33}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,48},{27,33}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40210005.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,82},{29,31}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,51},{29,31}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40210006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{27,33}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,44},{27,33}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40210007.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{55,47}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,44},{55,47}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40210008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,49}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,46},{65,49}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40210009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{27,61}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40210010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{27,61}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4021.png</string>
            <key>size</key>
            <string>{126,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37455976f55cdda49bfafb3b46fdbda8$</string>
            <key>textureFileName</key>
            <string>4021.png</string>
        </dict>
    </dict>
</plist>
