<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw40220001.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,63},{27,61}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40220002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{61,47}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{61,47}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40220003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{41,33}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,44},{41,33}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40220004.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,129},{41,33}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,46},{41,33}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40220005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{41,33}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,46},{41,33}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40220006.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,92},{41,35}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,37},{41,35}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40220007.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{59,55}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,36},{59,55}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40220008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,49}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,46},{65,49}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40220009.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,63},{27,61}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40220010.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,63},{27,61}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4022.png</string>
            <key>size</key>
            <string>{128,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e0965b35005b20d96a0ae7bc2f60e17$</string>
            <key>textureFileName</key>
            <string>4022.png</string>
        </dict>
    </dict>
</plist>
