<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw4030001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{27,62}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,33},{27,62}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
            <key>threw4030002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{61,46}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,49},{61,46}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
            <key>threw4030003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{51,40}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,40},{51,40}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
            <key>threw4030004.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{53,40}}</string>
                <key>offset</key>
                <string>{-33,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{53,40}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
            <key>threw4030005.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,44},{51,40}}</string>
                <key>offset</key>
                <string>{-33,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,41},{51,40}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
            <key>threw4030006.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,144},{49,40}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,37},{49,40}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
            <key>threw4030007.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,86},{59,56}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,35},{59,56}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
            <key>threw4030008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,48}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,47},{67,48}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
            <key>threw4030009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{27,62}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,33},{27,62}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
            <key>threw4030010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{27,62}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,33},{27,62}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>403.png</string>
            <key>size</key>
            <string>{126,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52d9366b9522794e56269ce287009df0$</string>
            <key>textureFileName</key>
            <string>403.png</string>
        </dict>
    </dict>
</plist>
