<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw40410001.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,55},{27,61}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40410002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{61,47}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{61,47}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40410003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{37,35}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,43},{37,35}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40410004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{37,33}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,46},{37,33}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40410005.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,121},{37,33}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,48},{37,33}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40410006.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,84},{37,35}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,40},{37,35}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40410007.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{55,51}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,40},{55,51}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40410008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,49}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,46},{65,49}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40410009.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,55},{27,61}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
            <key>threw40410010.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,55},{27,61}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{135,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4041.png</string>
            <key>size</key>
            <string>{128,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be802d0bdfdf847a58b34f4f23ba3d97$</string>
            <key>textureFileName</key>
            <string>4041.png</string>
        </dict>
    </dict>
</plist>
