<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw4120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{27,61}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw4120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,67},{61,47}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{61,47}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw4120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{77,63}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{77,63}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw4120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{77,63}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{77,63}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw4120005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,63}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{77,63}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw4120006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{75,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,16},{75,67}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw4120007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{73,67}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,20},{73,67}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw4120008.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,67},{61,47}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{61,47}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw4120009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{27,61}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>threw4120010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{27,61}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>412.png</string>
            <key>size</key>
            <string>{239,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65fb9c16a1896dc0f8e96090767a2070$</string>
            <key>textureFileName</key>
            <string>412.png</string>
        </dict>
    </dict>
</plist>
