<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw46120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,92},{27,61}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{61,47}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{61,47}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{59,55}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,40},{59,55}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,59}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{61,59}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46120005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{51,47}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,48},{51,47}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46120006.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,121},{53,51}}</string>
                <key>offset</key>
                <string>{20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,33},{53,51}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46120007.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{59,61}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,26},{59,61}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46120008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{61,47}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{61,47}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46120009.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,63},{27,61}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46120010.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,63},{27,61}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4612.png</string>
            <key>size</key>
            <string>{128,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:169e92adc895a1ab40f5326c4e9d3607$</string>
            <key>textureFileName</key>
            <string>4612.png</string>
        </dict>
    </dict>
</plist>
