<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw46220001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{27,61}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46220002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{61,47}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{61,47}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46220003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{49,49}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,44},{49,49}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46220004.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{53,53}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,42},{53,53}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46220005.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,139},{51,47}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{51,47}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46220006.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,57},{51,51}}</string>
                <key>offset</key>
                <string>{20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,34},{51,51}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46220007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,61}}</string>
                <key>offset</key>
                <string>{31,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,25},{63,61}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46220008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{61,47}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{61,47}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46220009.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,110},{27,61}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46220010.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,110},{27,61}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4622.png</string>
            <key>size</key>
            <string>{128,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1547637f0c3f82190b001acfc27d2ee2$</string>
            <key>textureFileName</key>
            <string>4622.png</string>
        </dict>
    </dict>
</plist>
