<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw46420001.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,65},{26,61}}</string>
                <key>offset</key>
                <string>{22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,34},{26,61}}</string>
                <key>sourceSize</key>
                <string>{154,113}</string>
            </dict>
            <key>threw46420002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{60,47}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,48},{60,47}}</string>
                <key>sourceSize</key>
                <string>{154,113}</string>
            </dict>
            <key>threw46420003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{82,87}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,8},{82,87}}</string>
                <key>sourceSize</key>
                <string>{154,113}</string>
            </dict>
            <key>threw46420004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{82,87}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,8},{82,87}}</string>
                <key>sourceSize</key>
                <string>{154,113}</string>
            </dict>
            <key>threw46420005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{82,87}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{82,87}}</string>
                <key>sourceSize</key>
                <string>{154,113}</string>
            </dict>
            <key>threw46420006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{88,91}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,4},{88,91}}</string>
                <key>sourceSize</key>
                <string>{154,113}</string>
            </dict>
            <key>threw46420007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,95}}</string>
                <key>offset</key>
                <string>{21,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{92,95}}</string>
                <key>sourceSize</key>
                <string>{154,113}</string>
            </dict>
            <key>threw46420008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{60,47}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,48},{60,47}}</string>
                <key>sourceSize</key>
                <string>{154,113}</string>
            </dict>
            <key>threw46420009.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{26,61}}</string>
                <key>offset</key>
                <string>{22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,34},{26,61}}</string>
                <key>sourceSize</key>
                <string>{154,113}</string>
            </dict>
            <key>threw46420010.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{26,61}}</string>
                <key>offset</key>
                <string>{22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,34},{26,61}}</string>
                <key>sourceSize</key>
                <string>{154,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4642.png</string>
            <key>size</key>
            <string>{127,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:902be52866d88f46b4d7418cfdee82c5$</string>
            <key>textureFileName</key>
            <string>4642.png</string>
        </dict>
    </dict>
</plist>
