<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw4720001.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,67},{27,63}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,32},{27,63}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4720002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{61,47}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,48},{61,47}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4720003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{91,87}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{91,87}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4720004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{93,87}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{93,87}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4720005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,89}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{93,89}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4720006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{93,83}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{93,83}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4720007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{91,85}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{91,85}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4720008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{61,47}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,48},{61,47}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4720009.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{27,63}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,32},{27,63}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4720010.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{27,63}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,32},{27,63}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>472.png</string>
            <key>size</key>
            <string>{126,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99af044c81e4e32ef840ef8faa84460d$</string>
            <key>textureFileName</key>
            <string>472.png</string>
        </dict>
    </dict>
</plist>
