<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>291_palm_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,31},{16,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,29}}</string>
    <key>sourceSize</key>
    <string>{16,29}</string>
   </dict>
   <key>Tear3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{280,177},{50,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,25}}</string>
    <key>sourceSize</key>
    <string>{50,25}</string>
   </dict>
   <key>Tear2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{412,126},{52,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,35}}</string>
    <key>sourceSize</key>
    <string>{52,35}</string>
   </dict>
   <key>Tear1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{412,163},{59,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{59,20}}</string>
    <key>sourceSize</key>
    <string>{59,20}</string>
   </dict>
   <key>a.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,0},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>291_hat_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,0},{66,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,49}}</string>
    <key>sourceSize</key>
    <string>{66,49}</string>
   </dict>
   <key>291_head_12_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{168,126},{54,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,61}}</string>
    <key>sourceSize</key>
    <string>{54,61}</string>
   </dict>
   <key>291_head_11_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,114},{54,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,61}}</string>
    <key>sourceSize</key>
    <string>{54,61}</string>
   </dict>
   <key>291_head_4_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{224,126},{54,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,61}}</string>
    <key>sourceSize</key>
    <string>{54,61}</string>
   </dict>
   <key>291_head_10_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{56,126},{54,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,61}}</string>
    <key>sourceSize</key>
    <string>{54,61}</string>
   </dict>
   <key>291_head_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{356,63},{54,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,61}}</string>
    <key>sourceSize</key>
    <string>{54,61}</string>
   </dict>
   <key>291_head_8_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{368,0},{54,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,61}}</string>
    <key>sourceSize</key>
    <string>{54,61}</string>
   </dict>
   <key>291_head_7_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,126},{54,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,61}}</string>
    <key>sourceSize</key>
    <string>{54,61}</string>
   </dict>
   <key>291_head_6_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{424,0},{54,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,61}}</string>
    <key>sourceSize</key>
    <string>{54,61}</string>
   </dict>
   <key>291_head_9_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,51},{54,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,61}}</string>
    <key>sourceSize</key>
    <string>{54,61}</string>
   </dict>
   <key>291_head_5_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{356,126},{54,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,61}}</string>
    <key>sourceSize</key>
    <string>{54,61}</string>
   </dict>
   <key>291_head_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,126},{54,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,61}}</string>
    <key>sourceSize</key>
    <string>{54,61}</string>
   </dict>
   <key>291_head_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{412,63},{54,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,61}}</string>
    <key>sourceSize</key>
    <string>{54,61}</string>
   </dict>
   <key>291_leg_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,62},{23,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,12}}</string>
    <key>sourceSize</key>
    <string>{23,12}</string>
   </dict>
   <key>291_palm_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,0},{16,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,29}}</string>
    <key>sourceSize</key>
    <string>{16,29}</string>
   </dict>
   <key>291_leg_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,76},{23,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,12}}</string>
    <key>sourceSize</key>
    <string>{23,12}</string>
   </dict>
   <key>291_tail_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{412,185},{45,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,13}}</string>
    <key>sourceSize</key>
    <string>{45,13}</string>
   </dict>
   <key>02_3_weapon.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>guge4.png</string>
   <key>textureFileName</key>
   <string>guge4.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>