<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>279_palm_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{492,264},{13,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,12}}</string>
    <key>sourceSize</key>
    <string>{13,12}</string>
   </dict>
   <key>279_arm_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{492,238},{15,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,12}}</string>
    <key>sourceSize</key>
    <string>{15,12}</string>
   </dict>
   <key>tear-2.png</key>
   <dict>
    <key>frame</key>
    <string>{{340,405},{88,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,17}}</string>
    <key>sourceSize</key>
    <string>{88,17}</string>
   </dict>
   <key>tear-3.png</key>
   <dict>
    <key>frame</key>
    <string>{{340,424},{102,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,17}}</string>
    <key>sourceSize</key>
    <string>{102,17}</string>
   </dict>
   <key>tear-1.png</key>
   <dict>
    <key>frame</key>
    <string>{{340,378},{98,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,25}}</string>
    <key>sourceSize</key>
    <string>{98,25}</string>
   </dict>
   <key>a.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,252},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>32_jewelry_0_d.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,0},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>32_jewelry_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,0},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>51_glass_0_d.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,126},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>51_glass_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,252},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>196_hat_0_d.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,378},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>196_hat_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{440,378},{70,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,44}}</string>
    <key>sourceSize</key>
    <string>{70,44}</string>
   </dict>
   <key>94_hair_1_2_d.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,252},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>94_hair_1_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{276,378},{62,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,73}}</string>
    <key>sourceSize</key>
    <string>{62,73}</string>
   </dict>
   <key>94_hair_2_2_d.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>94_hair_2_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,126},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>279_head_0_d.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,154},{47,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,82}}</string>
    <key>sourceSize</key>
    <string>{47,82}</string>
   </dict>
   <key>279_head_4_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,0},{60,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,75}}</string>
    <key>sourceSize</key>
    <string>{60,75}</string>
   </dict>
   <key>279_head_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,77},{60,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,75}}</string>
    <key>sourceSize</key>
    <string>{60,75}</string>
   </dict>
   <key>279_head_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,378},{61,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,75}}</string>
    <key>sourceSize</key>
    <string>{61,75}</string>
   </dict>
   <key>279_head_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{213,378},{61,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,75}}</string>
    <key>sourceSize</key>
    <string>{61,75}</string>
   </dict>
   <key>279_clothes_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,312},{41,34}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,34}}</string>
    <key>sourceSize</key>
    <string>{41,34}</string>
   </dict>
   <key>279_clothes_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,238},{40,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,45}}</string>
    <key>sourceSize</key>
    <string>{40,45}</string>
   </dict>
   <key>279_leg_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,285},{20,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,18}}</string>
    <key>sourceSize</key>
    <string>{20,18}</string>
   </dict>
   <key>279_palm_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{492,278},{13,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,12}}</string>
    <key>sourceSize</key>
    <string>{13,12}</string>
   </dict>
   <key>279_arm_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{492,252},{16,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,10}}</string>
    <key>sourceSize</key>
    <string>{16,10}</string>
   </dict>
   <key>279_leg_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{472,292},{20,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,18}}</string>
    <key>sourceSize</key>
    <string>{20,18}</string>
   </dict>
   <key>02_3_weapon.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,126},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>guge1.png</string>
   <key>textureFileName</key>
   <string>guge1.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>