<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>100_palm_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{466,0},{19,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,19}}</string>
    <key>sourceSize</key>
    <string>{19,19}</string>
   </dict>
   <key>tear3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{307,142},{73,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,28}}</string>
    <key>sourceSize</key>
    <string>{73,28}</string>
   </dict>
   <key>tear2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{382,142},{70,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,23}}</string>
    <key>sourceSize</key>
    <string>{70,23}</string>
   </dict>
   <key>tear1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{230,142},{75,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,32}}</string>
    <key>sourceSize</key>
    <string>{75,32}</string>
   </dict>
   <key>a.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,0},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>100_head_4_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,126},{81,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,69}}</string>
    <key>sourceSize</key>
    <string>{81,69}</string>
   </dict>
   <key>100_head_6_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{147,126},{81,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,69}}</string>
    <key>sourceSize</key>
    <string>{81,69}</string>
   </dict>
   <key>100_head_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,0},{81,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,69}}</string>
    <key>sourceSize</key>
    <string>{81,69}</string>
   </dict>
   <key>100_head_5_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{383,0},{81,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,69}}</string>
    <key>sourceSize</key>
    <string>{81,69}</string>
   </dict>
   <key>100_head_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,71},{81,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,69}}</string>
    <key>sourceSize</key>
    <string>{81,69}</string>
   </dict>
   <key>100_head_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{383,71},{81,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,69}}</string>
    <key>sourceSize</key>
    <string>{81,69}</string>
   </dict>
   <key>100_palm_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{487,0},{17,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,17}}</string>
    <key>sourceSize</key>
    <string>{17,17}</string>
   </dict>
   <key>100_tail_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{83,126},{62,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,17}}</string>
    <key>sourceSize</key>
    <string>{62,17}</string>
   </dict>
   <key>02_3_weapon.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>guge2.png</string>
   <key>textureFileName</key>
   <string>guge2.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>