<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>293_palm_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,0},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>293_arm_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,126},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>tear2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,504},{88,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{88,17}}</string>
    <key>sourceSize</key>
    <string>{88,17}</string>
   </dict>
   <key>tear3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{250,504},{102,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,17}}</string>
    <key>sourceSize</key>
    <string>{102,17}</string>
   </dict>
   <key>tear1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,504},{98,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,25}}</string>
    <key>sourceSize</key>
    <string>{98,25}</string>
   </dict>
   <key>a.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,126},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>293_head_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,378},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>293_leg_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,252},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>293_leg_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>293_clothes_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{300,0},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>293_palm_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,252},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>293_arm_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,378},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>293_leg_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,378},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>293_leg_4_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,252},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>293_tail_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,504},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
   <key>02_3_weapon.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,126},{148,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,124}}</string>
    <key>sourceSize</key>
    <string>{148,124}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>guge3.png</string>
   <key>textureFileName</key>
   <string>guge3.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>