<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,311},{98,105}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,12},{98,105}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,108},{102,107}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,12},{102,107}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,411},{102,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{102,103}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,204},{106,99}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{106,99}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,99}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{110,99}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,99}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{110,99}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,614},{102,101}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{102,101}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,717},{98,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{98,101}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,618},{102,99}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{102,99}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{100,99}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,13},{100,99}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,409},{104,101}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{104,101}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{106,95}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{106,95}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{108,95}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{108,95}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,103},{106,99}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{106,99}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,99},{104,107}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{104,107}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,515},{102,101}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,13},{102,101}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{106,105}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{106,105}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{100,103}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,12},{100,103}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,212},{102,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{102,105}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,316},{102,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,10},{102,103}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{104,107}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{104,107}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{102,105}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{102,105}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10023.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,305},{102,105}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{102,105}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,205},{104,105}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{104,105}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,512},{100,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,10},{100,103}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,10},{102,103}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10027.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,420},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{102,101}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10028.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,523},{102,99}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{102,99}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{102,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,13},{102,99}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,917},{98,99}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,14},{98,99}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>bomb10031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{96,101}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,13},{96,101}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{445,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79e9b9b4ac9c31389fe4993203cd0a0d$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
