<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,218},{58,58}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,79},{58,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{128,130}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,41},{128,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{156,160}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,24},{156,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,784},{180,180}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{180,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,616},{180,180}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{180,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,602},{180,180}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{180,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,428},{186,192}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,15},{186,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,218},{214,218}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{214,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40009.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,790},{180,178}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,17},{180,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,798},{180,178}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,17},{180,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40011.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,790},{178,178}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,17},{178,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40012.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,612},{176,176}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{176,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40013.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,602},{158,186}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,16},{158,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{166,200}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,12},{166,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40015.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,434},{176,220}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,10},{176,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{198,246}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{198,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40017.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,216},{210,238}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{210,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40018.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,210},{210,240}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{210,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40019.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{238,214}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{238,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,218}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{244,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40021.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{250,212}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{250,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40022.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{256,206}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,49},{256,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb40023.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,422},{248,178}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,77},{248,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4.png</string>
            <key>size</key>
            <string>{1022,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11d4f48fcdbeb2cd2efc0809414f867b$</string>
            <key>textureFileName</key>
            <string>4.png</string>
        </dict>
    </dict>
</plist>
