<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb4710001.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,228},{78,76}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,20},{78,76}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710002.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,132},{94,84}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,21},{94,84}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{90,94}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,13},{90,94}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{98,94}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{98,94}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710005.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,500},{96,96}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,15},{96,96}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710006.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,602},{104,98}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{104,98}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{102,100}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{102,100}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710008.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,376},{104,108}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{104,108}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710009.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,482},{118,106}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{118,106}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710010.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,490},{122,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{122,116}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710011.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,376},{112,126}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710012.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,378},{120,124}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{120,124}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710013.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,254},{134,120}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{134,120}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710014.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,132},{134,120}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{134,120}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710015.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,132},{140,126}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{140,126}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710016.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{146,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{146,128}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{150,128}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710018.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{148,128}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{148,128}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{142,122}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{142,122}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{140,124}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{140,124}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>bomb4710021.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,260},{126,116}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{126,116}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>471.png</string>
            <key>size</key>
            <string>{510,702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cddb2ca9a4f0b5196d7e4bbeccf1274$</string>
            <key>textureFileName</key>
            <string>471.png</string>
        </dict>
    </dict>
</plist>
