<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb980001.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,94},{52,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,49},{52,51}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980002.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{90,99}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,24},{90,99}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,137}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{138,137}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980004.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{130,131}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{130,131}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980005.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,374},{108,107}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{108,107}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980006.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,261},{108,111}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{108,111}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,641},{110,111}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,18},{110,111}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980008.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,636},{112,113}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{112,113}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980009.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,633},{112,115}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,16},{112,115}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980010.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,605},{114,117}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{114,117}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980011.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,515},{116,117}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{116,117}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{118,119}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,15},{118,119}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980013.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,483},{120,121}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,13},{120,121}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980014.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,512},{122,123}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{122,123}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{122,123}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,13},{122,123}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980016.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,389},{124,125}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{124,125}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{124,127}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{124,127}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980018.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,264},{126,127}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{126,127}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980019.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,261},{126,127}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{126,127}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{128,129}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{128,129}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980021.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,134},{128,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{128,129}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980022.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,131},{128,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{128,129}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980023.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{130,127}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{130,127}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
            <key>bomb980024.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,392},{118,125}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{118,125}}</string>
                <key>sourceSize</key>
                <string>{172,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>98.png</string>
            <key>size</key>
            <string>{512,753}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61ae1a5853dfce9bd597968f37993d9c$</string>
            <key>textureFileName</key>
            <string>98.png</string>
        </dict>
    </dict>
</plist>
