<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_3_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,29},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>196_hat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,86},{70,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,44}}</string>
                <key>sourceSize</key>
                <string>{70,44}</string>
            </dict>
            <key>196_hat_0_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{54,34}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,46},{54,34}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>279_arm_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,21},{15,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,12}}</string>
                <key>sourceSize</key>
                <string>{15,12}</string>
            </dict>
            <key>279_arm_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,89},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,10}</string>
            </dict>
            <key>279_clothes_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,230},{40,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>279_clothes_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,194},{41,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,34}}</string>
                <key>sourceSize</key>
                <string>{41,34}</string>
            </dict>
            <key>279_head_0_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{47,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,82}}</string>
                <key>sourceSize</key>
                <string>{47,82}</string>
            </dict>
            <key>279_head_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,90},{61,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,75}}</string>
                <key>sourceSize</key>
                <string>{61,75}</string>
            </dict>
            <key>279_head_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{61,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,75}}</string>
                <key>sourceSize</key>
                <string>{61,75}</string>
            </dict>
            <key>279_head_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,132},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>279_head_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>279_leg_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,69},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>279_leg_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,61},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>279_palm_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,101},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>279_palm_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,38},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>32_jewelry_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,29},{30,20}}</string>
                <key>offset</key>
                <string>{20,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,89},{30,20}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>32_jewelry_0_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,53},{24,14}}</string>
                <key>offset</key>
                <string>{12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,74},{24,14}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>51_glass_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,217},{46,38}}</string>
                <key>offset</key>
                <string>{19,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,76},{46,38}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>51_glass_0_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{36,28}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,63},{36,28}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>94_hair_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,153},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>94_hair_1_2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{50,56}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,39},{50,56}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>94_hair_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,194},{52,54}}</string>
                <key>offset</key>
                <string>{15,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,64},{52,54}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>94_hair_2_2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,217},{38,40}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,53},{38,40}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>a.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,81},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>tear-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{98,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,25}}</string>
                <key>sourceSize</key>
                <string>{98,25}</string>
            </dict>
            <key>tear-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,21},{88,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,17}}</string>
                <key>sourceSize</key>
                <string>{88,17}</string>
            </dict>
            <key>tear-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,17}}</string>
                <key>sourceSize</key>
                <string>{102,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guge7.png</string>
            <key>size</key>
            <string>{256,283}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91d61d80a6108a71c113f5a393043421$</string>
            <key>textureFileName</key>
            <string>guge7.png</string>
        </dict>
    </dict>
</plist>
