<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>196_arm_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,52},{10,16}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,83},{10,16}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>196_arm_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,78},{10,14}}</string>
                <key>offset</key>
                <string>{32,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,84},{10,14}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>196_clothes_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,22},{58,34}}</string>
                <key>offset</key>
                <string>{9,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,75},{58,34}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>196_head_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,128},{88,80}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{88,80}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>196_head_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{88,80}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{88,80}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>196_head_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{89,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,80}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>196_head_4_0 .png</key>
            <dict>
                <key>frame</key>
                <string>{{93,46},{88,80}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{88,80}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>196_head_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,90},{64,80}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,36},{64,80}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>196_leg_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,46},{12,22}}</string>
                <key>offset</key>
                <string>{12,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,98},{12,22}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>196_leg_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,22},{12,18}}</string>
                <key>offset</key>
                <string>{26,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,100},{12,18}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>196_palm_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,64},{12,14}}</string>
                <key>offset</key>
                <string>{10,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,91},{12,14}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>196_palm_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,36},{14,16}}</string>
                <key>offset</key>
                <string>{34,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,89},{14,16}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>196_tail_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{54,18}}</string>
                <key>offset</key>
                <string>{-16,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,100},{54,18}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>a.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,36},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>tear1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,24}}</string>
                <key>offset</key>
                <string>{22,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,55},{100,24}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>tear2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{94,20}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,54},{94,20}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>tear3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,24},{91,20}}</string>
                <key>offset</key>
                <string>{27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,54},{91,20}}</string>
                <key>sourceSize</key>
                <string>{151,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guge5.png</string>
            <key>size</key>
            <string>{256,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c56118795298d0737945d66e1ea3d759$</string>
            <key>textureFileName</key>
            <string>guge5.png</string>
        </dict>
    </dict>
</plist>
