<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb1010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,363},{55,58}}</string>
                <key>offset</key>
                <string>{22,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,50},{55,58}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>bomb1010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,284},{77,84}}</string>
                <key>offset</key>
                <string>{19,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,41},{77,84}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>bomb1010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,520},{105,116}}</string>
                <key>offset</key>
                <string>{16,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,26},{105,116}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>bomb1010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,420},{107,98}}</string>
                <key>offset</key>
                <string>{18,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,26},{107,98}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>bomb1010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,246},{131,138}}</string>
                <key>offset</key>
                <string>{17,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,10},{131,138}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>bomb1010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,379},{117,132}}</string>
                <key>offset</key>
                <string>{14,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,12},{117,132}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>bomb1010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{157,144}}</string>
                <key>offset</key>
                <string>{25,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,6},{157,144}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>bomb1010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{137,132}}</string>
                <key>offset</key>
                <string>{20,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,11},{137,132}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>bomb1010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,498},{117,120}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,18},{117,120}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>bomb1010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,410},{123,122}}</string>
                <key>offset</key>
                <string>{6,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,18},{123,122}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>bomb1010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{131,126}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,17},{131,126}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>bomb1010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,148},{139,134}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,14},{139,134}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>bomb1010013.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,284},{137,124}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{137,124}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>bomb1010014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{143,126}}</string>
                <key>offset</key>
                <string>{-13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{143,126}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>bomb1010015.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,128},{149,116}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,51},{149,116}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>bomb1010016.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{159,124}}</string>
                <key>offset</key>
                <string>{-18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,63},{159,124}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>bomb1010017.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{159,124}}</string>
                <key>offset</key>
                <string>{-18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,63},{159,124}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>bomb1010018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,132}}</string>
                <key>offset</key>
                <string>{-20,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,77},{171,132}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>101.png</string>
            <key>size</key>
            <string>{512,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8b5c0fe5db4f29f23d240aed0a55939$</string>
            <key>textureFileName</key>
            <string>101.png</string>
        </dict>
    </dict>
</plist>
