<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb230001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{80,70}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,72},{80,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{172,172}}</string>
                <key>offset</key>
                <string>{41,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,61},{172,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230003.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,428},{156,188}}</string>
                <key>offset</key>
                <string>{21,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,19},{156,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230004.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,414},{188,182}}</string>
                <key>offset</key>
                <string>{34,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,54},{188,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230005.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,746},{116,132}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,50},{116,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230006.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,880},{130,130}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,46},{130,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230007.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,784},{132,146}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,37},{132,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{140,162}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,28},{140,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230009.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,586},{158,186}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,15},{158,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230010.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,400},{166,202}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,10},{166,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230011.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,222},{176,222}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,8},{176,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230012.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{198,246}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{198,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230013.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,216},{210,240}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{210,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230014.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,202},{210,240}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{210,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{238,216}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{238,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230016.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{244,218}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{244,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230017.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{252,212}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{252,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,206}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{256,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb230019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{250,180}}</string>
                <key>offset</key>
                <string>{-3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,75},{250,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>23.png</string>
            <key>size</key>
            <string>{1008,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e39f61086f3805a38fd43dcd243765c7$</string>
            <key>textureFileName</key>
            <string>23.png</string>
        </dict>
    </dict>
</plist>
