<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb4610001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,548},{73,84}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,19},{73,84}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{101,110}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,6},{101,110}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610003.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{115,120}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,3},{115,120}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610004.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{131,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{131,120}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{145,120}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610006.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,561},{111,112}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{111,112}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610007.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,460},{99,114}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,4},{99,114}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,443},{103,116}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,3},{103,116}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{103,118}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{103,118}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610010.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,235},{105,120}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,3},{105,120}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610011.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,230},{109,120}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,4},{109,120}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610012.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,124},{109,120}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{109,120}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{105,120}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{105,120}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610014.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,124},{105,120}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{105,120}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610015.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{105,120}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{105,120}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610016.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,246},{107,120}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{107,120}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{109,120}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{109,120}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610018.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,119},{109,120}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{109,120}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610019.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,342},{99,118}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{99,118}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610020.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,355},{103,118}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{103,118}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610021.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,450},{111,114}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{111,114}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{99,116}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,7},{99,116}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
            <key>bomb4610023.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,341},{107,118}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{107,118}}</string>
                <key>sourceSize</key>
                <string>{175,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>461.png</string>
            <key>size</key>
            <string>{511,674}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5890d486ed62d097c8e7a3d63636d9ca$</string>
            <key>textureFileName</key>
            <string>461.png</string>
        </dict>
    </dict>
</plist>
