<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb970001.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,55},{45,45}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{45,45}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970002.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{53,51}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,35},{53,51}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,111}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{113,111}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970004.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,224},{105,105}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{105,105}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{101,91}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{101,91}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970006.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,541},{101,93}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{101,93}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,533},{101,95}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{101,95}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970008.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,436},{103,95}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{103,95}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{103,97}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{103,97}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{105,97}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{105,97}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970011.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,434},{105,99}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{105,99}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970012.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,331},{105,101}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{105,101}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970013.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,333},{103,103}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{103,103}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970014.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,331},{105,103}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{105,103}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{105,105}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{105,105}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970016.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,224},{107,107}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{107,107}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970017.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,222},{107,107}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{107,107}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970018.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,113},{107,107}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{107,107}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970019.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,113},{109,109}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{109,109}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{109,109}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{109,109}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970021.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,113},{109,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{109,109}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970022.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{109,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{109,109}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970023.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{111,109}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{111,109}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970024.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{109,109}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{109,109}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970025.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,438},{101,101}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{101,101}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{101,95}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{101,95}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970027.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,535},{91,83}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{91,83}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
            <key>bomb970028.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,535},{81,81}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{81,81}}</string>
                <key>sourceSize</key>
                <string>{141,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>97.png</string>
            <key>size</key>
            <string>{507,721}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15067eabdbda7bea7496cc4774eb713c$</string>
            <key>textureFileName</key>
            <string>97.png</string>
        </dict>
    </dict>
</plist>
