<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet10120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,29}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,29}}</string>
                <key>sourceSize</key>
                <string>{44,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1012.png</string>
            <key>size</key>
            <string>{46,33}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4eeb150d32b13720c9961dcc233588e1$</string>
            <key>textureFileName</key>
            <string>1012.png</string>
        </dict>
    </dict>
</plist>
