<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet3240001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{90,56}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{90,56}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>bullet3240002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{90,56}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{90,56}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>bullet3240003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,56}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{90,56}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>324.png</string>
            <key>size</key>
            <string>{94,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09c20fdb68abd93727506a15a71af2ee$</string>
            <key>textureFileName</key>
            <string>324.png</string>
        </dict>
    </dict>
</plist>
