<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet32420001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{95,57}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{95,57}}</string>
                <key>sourceSize</key>
                <string>{97,65}</string>
            </dict>
            <key>bullet32420002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{95,61}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,61}}</string>
                <key>sourceSize</key>
                <string>{97,65}</string>
            </dict>
            <key>bullet32420003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,63}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,63}}</string>
                <key>sourceSize</key>
                <string>{97,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3242.png</string>
            <key>size</key>
            <string>{99,189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c3ffe2f3b30ef67770dbbcd6118bc69$</string>
            <key>textureFileName</key>
            <string>3242.png</string>
        </dict>
    </dict>
</plist>
