<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet3840001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>bullet3840002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>bullet3840003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{38,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>bullet3840004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{38,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>384.png</string>
            <key>size</key>
            <string>{52,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:551e8fdf025dc98f053bd9ba3ac9cdbb$</string>
            <key>textureFileName</key>
            <string>384.png</string>
        </dict>
    </dict>
</plist>
