<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet40210001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4021.png</string>
            <key>size</key>
            <string>{34,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:049946c616233cf9304d9ad1beaae08e$</string>
            <key>textureFileName</key>
            <string>4021.png</string>
        </dict>
    </dict>
</plist>
