<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet46320001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{103,105}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>bullet46320002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{99,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{99,105}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>bullet46320003.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,109},{101,103}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{101,103}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4632.png</string>
            <key>size</key>
            <string>{206,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4ed5121f15edb9c0d7c23d286695444$</string>
            <key>textureFileName</key>
            <string>4632.png</string>
        </dict>
    </dict>
</plist>
