<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw10120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,61}}</string>
                <key>offset</key>
                <string>{-13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,52},{105,61}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>threw10120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{75,97}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,23},{75,97}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>threw10120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{51,39}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,78},{51,39}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>threw10120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{43,39}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,80},{43,39}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>threw10120005.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,43},{41,39}}</string>
                <key>offset</key>
                <string>{-6,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,80},{41,39}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>threw10120006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{75,61}}</string>
                <key>offset</key>
                <string>{11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,62},{75,61}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>threw10120007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{71,61}}</string>
                <key>offset</key>
                <string>{13,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,62},{71,61}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>threw10120008.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{75,97}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,23},{75,97}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>threw10120009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,61}}</string>
                <key>offset</key>
                <string>{-13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,52},{105,61}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>threw10120010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,61}}</string>
                <key>offset</key>
                <string>{-13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,52},{105,61}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1012.png</string>
            <key>size</key>
            <string>{253,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a5892ec4b56592053f384cb5025a1c7$</string>
            <key>textureFileName</key>
            <string>1012.png</string>
        </dict>
    </dict>
</plist>
