<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw1120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{103,67}}</string>
                <key>offset</key>
                <string>{-18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,52},{103,67}}</string>
                <key>sourceSize</key>
                <string>{149,135}</string>
            </dict>
            <key>threw1120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{75,77}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,43},{75,77}}</string>
                <key>sourceSize</key>
                <string>{149,135}</string>
            </dict>
            <key>threw1120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{61,45}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,75},{61,45}}</string>
                <key>sourceSize</key>
                <string>{149,135}</string>
            </dict>
            <key>threw1120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,207},{51,45}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,75},{51,45}}</string>
                <key>sourceSize</key>
                <string>{149,135}</string>
            </dict>
            <key>threw1120005.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,128},{45,45}}</string>
                <key>offset</key>
                <string>{-13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,75},{45,45}}</string>
                <key>sourceSize</key>
                <string>{149,135}</string>
            </dict>
            <key>threw1120006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{91,61}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,62},{91,61}}</string>
                <key>sourceSize</key>
                <string>{149,135}</string>
            </dict>
            <key>threw1120007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,61}}</string>
                <key>offset</key>
                <string>{-10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,62},{127,61}}</string>
                <key>sourceSize</key>
                <string>{149,135}</string>
            </dict>
            <key>threw1120008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{75,77}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,43},{75,77}}</string>
                <key>sourceSize</key>
                <string>{149,135}</string>
            </dict>
            <key>threw1120009.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{103,67}}</string>
                <key>offset</key>
                <string>{-18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,52},{103,67}}</string>
                <key>sourceSize</key>
                <string>{149,135}</string>
            </dict>
            <key>threw1120010.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{103,67}}</string>
                <key>offset</key>
                <string>{-18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,52},{103,67}}</string>
                <key>sourceSize</key>
                <string>{149,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>112.png</string>
            <key>size</key>
            <string>{236,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dbc12a853b14b60ab5b24c7f5e9689f$</string>
            <key>textureFileName</key>
            <string>112.png</string>
        </dict>
    </dict>
</plist>
