<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,61}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,34},{25,61}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{59,45}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,49},{59,45}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,70},{37,33}}</string>
                <key>offset</key>
                <string>{-26,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,47},{37,33}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,70},{37,33}}</string>
                <key>offset</key>
                <string>{-27,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,50},{37,33}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,35},{37,33}}</string>
                <key>offset</key>
                <string>{-27,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,52},{37,33}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{41,31}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,49},{41,31}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,2},{45,25}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,55},{45,25}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{59,45}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,49},{59,45}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,61}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,34},{25,61}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,61}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,34},{25,61}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{123,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:827c49a72d43c6813fd222cda731cb8f$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
