<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw3010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,55}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{103,55}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw3010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{75,77}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,18},{75,77}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw3010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,59},{57,41}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,43},{57,41}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw3010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,177},{59,35}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,53},{59,35}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw3010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{59,37}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,52},{59,37}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw3010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{59,35}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,53},{59,35}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw3010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,118},{57,39}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,47},{57,39}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw3010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{75,77}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,18},{75,77}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw3010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,55}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{103,55}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw3010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,55}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{103,55}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>301.png</string>
            <key>size</key>
            <string>{124,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c32085e5075c390eea9a16a98551eeb5$</string>
            <key>textureFileName</key>
            <string>301.png</string>
        </dict>
    </dict>
</plist>
