<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw38120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,62}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,33},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{61,48}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,47},{61,48}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{59,56}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{59,56}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,99},{37,38}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,42},{37,38}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38120005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{37,38}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,44},{37,38}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38120006.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,60},{37,38}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,33},{37,38}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38120007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{37,36}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,34},{37,36}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38120008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{61,48}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,47},{61,48}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38120009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,62}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,33},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38120010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,62}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,33},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3812.png</string>
            <key>size</key>
            <string>{127,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b1acb961ec97c0b8c368ff78034e4f6$</string>
            <key>textureFileName</key>
            <string>3812.png</string>
        </dict>
    </dict>
</plist>
