<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw3840001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{76,64}}</string>
                <key>offset</key>
                <string>{24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,31},{76,64}}</string>
                <key>sourceSize</key>
                <string>{124,102}</string>
            </dict>
            <key>threw3840002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,48}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,47},{82,48}}</string>
                <key>sourceSize</key>
                <string>{124,102}</string>
            </dict>
            <key>threw3840003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{58,56}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{58,56}}</string>
                <key>sourceSize</key>
                <string>{124,102}</string>
            </dict>
            <key>threw3840004.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,94},{44,38}}</string>
                <key>offset</key>
                <string>{-27,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,41},{44,38}}</string>
                <key>sourceSize</key>
                <string>{124,102}</string>
            </dict>
            <key>threw3840005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,48},{44,38}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,43},{44,38}}</string>
                <key>sourceSize</key>
                <string>{124,102}</string>
            </dict>
            <key>threw3840006.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,134},{42,42}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{42,42}}</string>
                <key>sourceSize</key>
                <string>{124,102}</string>
            </dict>
            <key>threw3840007.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{38,44}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,38},{38,44}}</string>
                <key>sourceSize</key>
                <string>{124,102}</string>
            </dict>
            <key>threw3840008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,48}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,47},{82,48}}</string>
                <key>sourceSize</key>
                <string>{124,102}</string>
            </dict>
            <key>threw3840009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{76,64}}</string>
                <key>offset</key>
                <string>{24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,31},{76,64}}</string>
                <key>sourceSize</key>
                <string>{124,102}</string>
            </dict>
            <key>threw3840010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{76,64}}</string>
                <key>offset</key>
                <string>{24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,31},{76,64}}</string>
                <key>sourceSize</key>
                <string>{124,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>384.png</string>
            <key>size</key>
            <string>{126,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c861bfcfd5a26e6831b939e8b89f6cd7$</string>
            <key>textureFileName</key>
            <string>384.png</string>
        </dict>
    </dict>
</plist>
