<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw46110001.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,31},{27,61}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46110002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,47}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{61,47}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46110003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{47,27}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,55},{47,27}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46110004.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,91},{45,29}}</string>
                <key>offset</key>
                <string>{-25,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,56},{45,29}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46110005.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,60},{45,29}}</string>
                <key>offset</key>
                <string>{-23,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,54},{45,29}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46110006.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,80},{45,31}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,45},{45,31}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46110007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{45,33}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,44},{45,33}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46110008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,47}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{61,47}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46110009.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{27,61}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
            <key>threw46110010.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{27,61}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{27,61}}</string>
                <key>sourceSize</key>
                <string>{133,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4611.png</string>
            <key>size</key>
            <string>{128,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fd7c79def1e34872ec93d90b0290f7a$</string>
            <key>textureFileName</key>
            <string>4611.png</string>
        </dict>
    </dict>
</plist>
