<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw4740001.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,427},{27,63}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,32},{27,63}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4740002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{61,47}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{61,47}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4740003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{99,87}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{99,87}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4740004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{99,87}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{99,87}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4740005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{99,87}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{99,87}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4740006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,91}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{99,91}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4740007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{95,93}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,2},{95,93}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4740008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{61,47}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{61,47}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4740009.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,362},{27,63}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,32},{27,63}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>threw4740010.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,362},{27,63}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,32},{27,63}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>474.png</string>
            <key>size</key>
            <string>{128,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d2146490124bd4041c05954287d10ef$</string>
            <key>textureFileName</key>
            <string>474.png</string>
        </dict>
    </dict>
</plist>
