<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw1010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,61}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,53},{104,61}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>threw1010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,77}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,44},{76,77}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>threw1010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{50,39}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,79},{50,39}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>threw1010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,81},{44,39}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,81},{44,39}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>threw1010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,81},{40,39}}</string>
                <key>offset</key>
                <string>{-7,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,81},{40,39}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>threw1010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{78,61}}</string>
                <key>offset</key>
                <string>{11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,62},{78,61}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>threw1010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,65},{74,61}}</string>
                <key>offset</key>
                <string>{13,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,62},{74,61}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>threw1010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,77}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,44},{76,77}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>threw1010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,61}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,53},{104,61}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
            <key>threw1010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,61}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,53},{104,61}}</string>
                <key>sourceSize</key>
                <string>{142,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>101.png</string>
            <key>size</key>
            <string>{246,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:729e81b0724d6e40381652bacbce293c$</string>
            <key>textureFileName</key>
            <string>101.png</string>
        </dict>
    </dict>
</plist>
