<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw10210001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{104,61}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,51},{104,61}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
            <key>threw10210002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{76,77}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,41},{76,77}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
            <key>threw10210003.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,65},{54,37}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,76},{54,37}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
            <key>threw10210004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,65},{42,39}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,77},{42,39}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
            <key>threw10210005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,121},{36,43}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,75},{36,43}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
            <key>threw10210006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{82,61}}</string>
                <key>offset</key>
                <string>{11,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,62},{82,61}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
            <key>threw10210007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,61}}</string>
                <key>offset</key>
                <string>{-10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,62},{124,61}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
            <key>threw10210008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{76,77}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,41},{76,77}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
            <key>threw10210009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{104,61}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,51},{104,61}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
            <key>threw10210010.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{104,61}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,51},{104,61}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1021.png</string>
            <key>size</key>
            <string>{234,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:182e987734589f18bc800c4587cfc9c3$</string>
            <key>textureFileName</key>
            <string>1021.png</string>
        </dict>
    </dict>
</plist>
