<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw10420001.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{105,65}}</string>
                <key>offset</key>
                <string>{-24,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,55},{105,65}}</string>
                <key>sourceSize</key>
                <string>{161,135}</string>
            </dict>
            <key>threw10420002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{75,77}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,46},{75,77}}</string>
                <key>sourceSize</key>
                <string>{161,135}</string>
            </dict>
            <key>threw10420003.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,128},{67,55}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,65},{67,55}}</string>
                <key>sourceSize</key>
                <string>{161,135}</string>
            </dict>
            <key>threw10420004.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,69},{49,51}}</string>
                <key>offset</key>
                <string>{-17,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,72},{49,51}}</string>
                <key>sourceSize</key>
                <string>{161,135}</string>
            </dict>
            <key>threw10420005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{45,49}}</string>
                <key>offset</key>
                <string>{-21,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,74},{45,49}}</string>
                <key>sourceSize</key>
                <string>{161,135}</string>
            </dict>
            <key>threw10420006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{99,61}}</string>
                <key>offset</key>
                <string>{10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,62},{99,61}}</string>
                <key>sourceSize</key>
                <string>{161,135}</string>
            </dict>
            <key>threw10420007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,61}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,62},{131,61}}</string>
                <key>sourceSize</key>
                <string>{161,135}</string>
            </dict>
            <key>threw10420008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{75,77}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,46},{75,77}}</string>
                <key>sourceSize</key>
                <string>{161,135}</string>
            </dict>
            <key>threw10420009.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{105,65}}</string>
                <key>offset</key>
                <string>{-24,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,55},{105,65}}</string>
                <key>sourceSize</key>
                <string>{161,135}</string>
            </dict>
            <key>threw10420010.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{105,65}}</string>
                <key>offset</key>
                <string>{-24,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,55},{105,65}}</string>
                <key>sourceSize</key>
                <string>{161,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1042.png</string>
            <key>size</key>
            <string>{242,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ef05e37f1801f307f0f62eaf8e78f47$</string>
            <key>textureFileName</key>
            <string>1042.png</string>
        </dict>
    </dict>
</plist>
