<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw1130001.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,65},{105,71}}</string>
                <key>offset</key>
                <string>{-25,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,50},{105,71}}</string>
                <key>sourceSize</key>
                <string>{163,135}</string>
            </dict>
            <key>threw1130002.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,138},{77,77}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,44},{77,77}}</string>
                <key>sourceSize</key>
                <string>{163,135}</string>
            </dict>
            <key>threw1130003.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,71},{73,59}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,62},{73,59}}</string>
                <key>sourceSize</key>
                <string>{163,135}</string>
            </dict>
            <key>threw1130004.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,132},{59,55}}</string>
                <key>offset</key>
                <string>{-18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,66},{59,55}}</string>
                <key>sourceSize</key>
                <string>{163,135}</string>
            </dict>
            <key>threw1130005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{53,97}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{53,97}}</string>
                <key>sourceSize</key>
                <string>{163,135}</string>
            </dict>
            <key>threw1130006.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{107,61}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,62},{107,61}}</string>
                <key>sourceSize</key>
                <string>{163,135}</string>
            </dict>
            <key>threw1130007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,67}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,56},{129,67}}</string>
                <key>sourceSize</key>
                <string>{163,135}</string>
            </dict>
            <key>threw1130008.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,138},{77,77}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,44},{77,77}}</string>
                <key>sourceSize</key>
                <string>{163,135}</string>
            </dict>
            <key>threw1130009.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,65},{105,71}}</string>
                <key>offset</key>
                <string>{-25,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,50},{105,71}}</string>
                <key>sourceSize</key>
                <string>{163,135}</string>
            </dict>
            <key>threw1130010.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,65},{105,71}}</string>
                <key>offset</key>
                <string>{-25,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,50},{105,71}}</string>
                <key>sourceSize</key>
                <string>{163,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>113.png</string>
            <key>size</key>
            <string>{242,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aebb0e882d10ab159b98daac384354b3$</string>
            <key>textureFileName</key>
            <string>113.png</string>
        </dict>
    </dict>
</plist>
