<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw32110001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{27,62}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,37},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32110002.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{61,46}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,53},{61,46}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32110003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,147},{47,38}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,40},{47,38}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32110004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{47,36}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,46},{47,36}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32110005.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,107},{47,38}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,45},{47,38}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32110006.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,65},{45,40}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{45,40}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32110007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{71,58}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{71,58}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32110008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,76}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,23},{71,76}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32110009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{27,62}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,37},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32110010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{27,62}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,37},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3211.png</string>
            <key>size</key>
            <string>{128,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:516f847f015d3479a9641d6e0a7cbe05$</string>
            <key>textureFileName</key>
            <string>3211.png</string>
        </dict>
    </dict>
</plist>
