<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw32420001.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{27,62}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,37},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32420002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{61,46}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,53},{61,46}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32420003.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,66},{55,60}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,26},{55,60}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32420004.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,62},{57,62}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{57,62}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32420005.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{57,62}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{57,62}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32420006.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,66},{57,58}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,22},{57,58}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32420007.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{79,58}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,21},{79,58}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32420008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,76}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{71,76}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32420009.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{27,62}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,37},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>threw32420010.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{27,62}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,37},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3242.png</string>
            <key>size</key>
            <string>{250,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3c37f8c9a4938727c8249170c331c4c$</string>
            <key>textureFileName</key>
            <string>3242.png</string>
        </dict>
    </dict>
</plist>
