<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw3330001.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,154},{26,63}}</string>
                <key>offset</key>
                <string>{20,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,42},{26,63}}</string>
                <key>sourceSize</key>
                <string>{148,105}</string>
            </dict>
            <key>threw3330002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,154},{60,47}}</string>
                <key>offset</key>
                <string>{10,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,58},{60,47}}</string>
                <key>sourceSize</key>
                <string>{148,105}</string>
            </dict>
            <key>threw3330003.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{74,77}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,21},{74,77}}</string>
                <key>sourceSize</key>
                <string>{148,105}</string>
            </dict>
            <key>threw3330004.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{76,75}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{76,75}}</string>
                <key>sourceSize</key>
                <string>{148,105}</string>
            </dict>
            <key>threw3330005.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,78},{74,75}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{74,75}}</string>
                <key>sourceSize</key>
                <string>{148,105}</string>
            </dict>
            <key>threw3330006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{72,79}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,15},{72,79}}</string>
                <key>sourceSize</key>
                <string>{148,105}</string>
            </dict>
            <key>threw3330007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{72,79}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,18},{72,79}}</string>
                <key>sourceSize</key>
                <string>{148,105}</string>
            </dict>
            <key>threw3330008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,81}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,24},{72,81}}</string>
                <key>sourceSize</key>
                <string>{148,105}</string>
            </dict>
            <key>threw3330009.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,154},{26,63}}</string>
                <key>offset</key>
                <string>{20,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,42},{26,63}}</string>
                <key>sourceSize</key>
                <string>{148,105}</string>
            </dict>
            <key>threw3330010.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,154},{26,63}}</string>
                <key>offset</key>
                <string>{20,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,42},{26,63}}</string>
                <key>sourceSize</key>
                <string>{148,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>333.png</string>
            <key>size</key>
            <string>{233,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbd4e60704cfac8777ed1f02e6a3ffbf$</string>
            <key>textureFileName</key>
            <string>333.png</string>
        </dict>
    </dict>
</plist>
