<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw38210001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,62}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,33},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38210002.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,2},{61,48}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,47},{61,48}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38210003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{59,56}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,32},{59,56}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38210004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,69},{33,32}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,50},{33,32}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38210005.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,69},{33,32}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,50},{33,32}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38210006.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,35},{33,32}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,42},{33,32}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38210007.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{31,34}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,40},{31,34}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38210008.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,2},{61,48}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,47},{61,48}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38210009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,62}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,33},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38210010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,62}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,33},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3821.png</string>
            <key>size</key>
            <string>{128,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b500fcf6465d896e852f2405d0dfc73b$</string>
            <key>textureFileName</key>
            <string>3821.png</string>
        </dict>
    </dict>
</plist>
