<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw38310001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,62}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,33},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38310002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{61,48}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,47},{61,48}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38310003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{59,56}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{59,56}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38310004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{39,34}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,42},{39,34}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38310005.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,60},{39,34}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,43},{39,34}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38310006.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,96},{37,38}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,34},{37,38}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38310007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{35,38}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,34},{35,38}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38310008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{61,48}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,47},{61,48}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38310009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,62}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,33},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
            <key>threw38310010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,62}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,33},{27,62}}</string>
                <key>sourceSize</key>
                <string>{133,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3831.png</string>
            <key>size</key>
            <string>{127,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d98d45fd6d475efc4f598a436666bd2d$</string>
            <key>textureFileName</key>
            <string>3831.png</string>
        </dict>
    </dict>
</plist>
