<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw4040001.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,50},{77,64}}</string>
                <key>offset</key>
                <string>{30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,31},{77,64}}</string>
                <key>sourceSize</key>
                <string>{143,110}</string>
            </dict>
            <key>threw4040002.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{81,46}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,49},{81,46}}</string>
                <key>sourceSize</key>
                <string>{143,110}</string>
            </dict>
            <key>threw4040003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{71,60}}</string>
                <key>offset</key>
                <string>{-27,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{71,60}}</string>
                <key>sourceSize</key>
                <string>{143,110}</string>
            </dict>
            <key>threw4040004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{75,60}}</string>
                <key>offset</key>
                <string>{-31,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{75,60}}</string>
                <key>sourceSize</key>
                <string>{143,110}</string>
            </dict>
            <key>threw4040005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{73,60}}</string>
                <key>offset</key>
                <string>{-28,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{73,60}}</string>
                <key>sourceSize</key>
                <string>{143,110}</string>
            </dict>
            <key>threw4040006.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,77},{73,66}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{73,66}}</string>
                <key>sourceSize</key>
                <string>{143,110}</string>
            </dict>
            <key>threw4040007.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{73,82}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,10},{73,82}}</string>
                <key>sourceSize</key>
                <string>{143,110}</string>
            </dict>
            <key>threw4040008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,48}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,47},{85,48}}</string>
                <key>sourceSize</key>
                <string>{143,110}</string>
            </dict>
            <key>threw4040009.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,50},{77,64}}</string>
                <key>offset</key>
                <string>{30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,31},{77,64}}</string>
                <key>sourceSize</key>
                <string>{143,110}</string>
            </dict>
            <key>threw4040010.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,50},{77,64}}</string>
                <key>offset</key>
                <string>{30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,31},{77,64}}</string>
                <key>sourceSize</key>
                <string>{143,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>404.png</string>
            <key>size</key>
            <string>{256,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcd4ffe7004295a005a5124eb3b50e18$</string>
            <key>textureFileName</key>
            <string>404.png</string>
        </dict>
    </dict>
</plist>
