<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw4110001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{26,61}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,34},{26,61}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>threw4110002.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,59}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,35},{74,59}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>threw4110003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{68,53}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,28},{68,53}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>threw4110004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{68,55}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,30},{68,55}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>threw4110005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,59},{68,55}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,31},{68,55}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>threw4110006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{68,55}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{68,55}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>threw4110007.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,186},{66,59}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,31},{66,59}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>threw4110008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,59}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,35},{74,59}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>threw4110009.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{26,61}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,34},{26,61}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>threw4110010.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{26,61}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,34},{26,61}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>411.png</string>
            <key>size</key>
            <string>{252,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edaa47027539affbb8c9340e0469b105$</string>
            <key>textureFileName</key>
            <string>411.png</string>
        </dict>
    </dict>
</plist>
