<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw4130001.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,67},{26,61}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,34},{26,61}}</string>
                <key>sourceSize</key>
                <string>{136,109}</string>
            </dict>
            <key>threw4130002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,118},{60,47}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{60,47}}</string>
                <key>sourceSize</key>
                <string>{136,109}</string>
            </dict>
            <key>threw4130003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,67},{76,63}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{76,63}}</string>
                <key>sourceSize</key>
                <string>{136,109}</string>
            </dict>
            <key>threw4130004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,63}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{76,63}}</string>
                <key>sourceSize</key>
                <string>{136,109}</string>
            </dict>
            <key>threw4130005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,63}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{76,63}}</string>
                <key>sourceSize</key>
                <string>{136,109}</string>
            </dict>
            <key>threw4130006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,67}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{76,67}}</string>
                <key>sourceSize</key>
                <string>{136,109}</string>
            </dict>
            <key>threw4130007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{72,71}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,20},{72,71}}</string>
                <key>sourceSize</key>
                <string>{136,109}</string>
            </dict>
            <key>threw4130008.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,67},{66,49}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,46},{66,49}}</string>
                <key>sourceSize</key>
                <string>{136,109}</string>
            </dict>
            <key>threw4130009.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,67},{26,61}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,34},{26,61}}</string>
                <key>sourceSize</key>
                <string>{136,109}</string>
            </dict>
            <key>threw4130010.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,67},{26,61}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,34},{26,61}}</string>
                <key>sourceSize</key>
                <string>{136,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>413.png</string>
            <key>size</key>
            <string>{254,167}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b82cef6d494afd87f580dc635d4871d5$</string>
            <key>textureFileName</key>
            <string>413.png</string>
        </dict>
    </dict>
</plist>
