<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>threw970001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{35,65}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,30},{35,65}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw970002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,47}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,48},{67,47}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw970003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,80},{29,27}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,50},{29,27}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw970004.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,80},{29,27}}</string>
                <key>offset</key>
                <string>{-23,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,54},{29,27}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw970005.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,51},{29,27}}</string>
                <key>offset</key>
                <string>{-23,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,56},{29,27}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw970006.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,31},{29,27}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,50},{29,27}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw970007.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{29,27}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,51},{29,27}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw970008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,47}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,48},{67,47}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
            <key>threw970009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{35,65}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,30},{35,65}}</string>
                <key>sourceSize</key>
                <string>{115,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>97.png</string>
            <key>size</key>
            <string>{102,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:264ac8f642c4ebd98b1744560134e5de$</string>
            <key>textureFileName</key>
            <string>97.png</string>
        </dict>
    </dict>
</plist>
