<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb220001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,496},{86,96}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,61},{86,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb220002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{90,100}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,60},{90,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb220003.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,398},{98,106}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,56},{98,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb220004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,498},{102,114}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,52},{102,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb220005.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,276},{106,120}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,48},{106,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb220006.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,398},{112,120}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,46},{112,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb220007.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,276},{120,120}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,47},{120,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb220008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{126,124}}</string>
                <key>offset</key>
                <string>{-13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,46},{126,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb220009.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,270},{134,130}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,44},{134,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb220010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{140,132}}</string>
                <key>offset</key>
                <string>{-19,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,46},{140,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb220011.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,148},{140,126}}</string>
                <key>offset</key>
                <string>{-27,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,55},{140,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb220012.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{144,160}}</string>
                <key>offset</key>
                <string>{-32,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,53},{144,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb220013.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,128},{152,140}}</string>
                <key>offset</key>
                <string>{-36,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,80},{152,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb220014.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{164,124}}</string>
                <key>offset</key>
                <string>{-38,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,92},{164,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb220015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,134}}</string>
                <key>offset</key>
                <string>{-40,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,105},{174,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb220016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{94,134}}</string>
                <key>offset</key>
                <string>{9,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,120},{94,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bomb220017.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,402},{92,120}}</string>
                <key>offset</key>
                <string>{9,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,135},{92,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>22.png</string>
            <key>size</key>
            <string>{510,614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bce928193badef137eff6d092620385a$</string>
            <key>textureFileName</key>
            <string>22.png</string>
        </dict>
    </dict>
</plist>
