<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb3110001.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{40,40}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,85},{40,40}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>bomb3110002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{70,72}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,68},{70,72}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>bomb3110003.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,406},{106,104}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,49},{106,104}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>bomb3110004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,406},{116,112}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{116,112}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>bomb3110005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{116,116}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,43},{116,116}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>bomb3110006.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,404},{114,118}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,42},{114,118}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>bomb3110007.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,512},{106,102}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,50},{106,102}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>bomb3110008.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,520},{104,104}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,49},{104,104}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>bomb3110009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{96,104}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,49},{96,104}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>bomb3110010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{122,110}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{122,110}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>bomb3110011.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,288},{126,114}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,43},{126,114}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>bomb3110012.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,284},{134,120}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,40},{134,120}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>bomb3110013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{140,134}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,32},{140,134}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>bomb3110014.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{144,140}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{144,140}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>bomb3110015.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,148},{140,138}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{140,138}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>bomb3110016.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,144},{138,142}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{138,142}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>bomb3110017.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{144,146}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,29},{144,146}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>bomb3110018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,156}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{164,156}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>311.png</string>
            <key>size</key>
            <string>{504,696}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66a0d7055a404da70163173fa6ec7dad$</string>
            <key>textureFileName</key>
            <string>311.png</string>
        </dict>
    </dict>
</plist>
