<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb4010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{76,67}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{76,67}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{114,107}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{114,107}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,441},{108,115}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{108,115}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{110,121}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{110,121}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,337},{102,119}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{102,119}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,448},{102,105}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{102,105}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,551},{96,97}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{96,97}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,456},{98,105}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{98,105}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{100,111}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{100,111}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{92,103}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{92,103}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010011.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,350},{104,105}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{104,105}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010012.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,339},{116,107}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{116,107}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{118,107}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{118,107}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010014.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,228},{120,109}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{120,109}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010015.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,226},{122,109}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{122,109}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010016.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,115},{124,111}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{124,111}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{126,109}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{126,109}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010018.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,111},{126,111}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{126,111}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010019.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{128,111}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{128,111}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010020.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,115},{128,109}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{128,109}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010021.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,111}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{130,111}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,113}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{130,113}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>bomb4010023.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,239},{116,109}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{116,109}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>401.png</string>
            <key>size</key>
            <string>{512,714}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfda3633e7ac074dd5d7d1fa24ffd153$</string>
            <key>textureFileName</key>
            <string>401.png</string>
        </dict>
    </dict>
</plist>
