<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet1030001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{53,55}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{53,55}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>bullet1030002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{53,55}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{53,55}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>bullet1030003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{59,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>bullet1030004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{59,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>103.png</string>
            <key>size</key>
            <string>{63,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65d2a29118a3060cd9ef1a466e6d6f59$</string>
            <key>textureFileName</key>
            <string>103.png</string>
        </dict>
    </dict>
</plist>
