<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet1130001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,41}}</string>
                <key>sourceSize</key>
                <string>{110,45}</string>
            </dict>
            <key>bullet1130002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{108,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{108,41}}</string>
                <key>sourceSize</key>
                <string>{110,45}</string>
            </dict>
            <key>bullet1130003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{108,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{108,41}}</string>
                <key>sourceSize</key>
                <string>{110,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>113.png</string>
            <key>size</key>
            <string>{114,131}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e3f2ab04b16d65b533a5c0d8c16aa5f$</string>
            <key>textureFileName</key>
            <string>113.png</string>
        </dict>
    </dict>
</plist>
