<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet32310001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{89,51}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{89,51}}</string>
                <key>sourceSize</key>
                <string>{95,57}</string>
            </dict>
            <key>bullet32310002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{87,51}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{87,51}}</string>
                <key>sourceSize</key>
                <string>{95,57}</string>
            </dict>
            <key>bullet32310003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,51}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{89,51}}</string>
                <key>sourceSize</key>
                <string>{95,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3231.png</string>
            <key>size</key>
            <string>{93,161}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:387fa78ae69c39e362769beccd9b9366$</string>
            <key>textureFileName</key>
            <string>3231.png</string>
        </dict>
    </dict>
</plist>
