<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet32410001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{89,55}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{89,55}}</string>
                <key>sourceSize</key>
                <string>{95,57}</string>
            </dict>
            <key>bullet32410002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{89,55}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{89,55}}</string>
                <key>sourceSize</key>
                <string>{95,57}</string>
            </dict>
            <key>bullet32410003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,55}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{89,55}}</string>
                <key>sourceSize</key>
                <string>{95,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3241.png</string>
            <key>size</key>
            <string>{93,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:691b58a7ef04275921b19ef631af52b5$</string>
            <key>textureFileName</key>
            <string>3241.png</string>
        </dict>
    </dict>
</plist>
