<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet46120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,92}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{100,92}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>bullet46120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,92}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{100,92}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>bullet46120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{94,90}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{94,90}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>bullet46120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{94,90}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{94,90}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4612.png</string>
            <key>size</key>
            <string>{104,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb9291824791d8b5fc5dda2349bfa633$</string>
            <key>textureFileName</key>
            <string>4612.png</string>
        </dict>
    </dict>
</plist>
