<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet4640001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{62,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,83}}</string>
                <key>sourceSize</key>
                <string>{62,85}</string>
            </dict>
            <key>bullet4640002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{62,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,83}}</string>
                <key>sourceSize</key>
                <string>{62,85}</string>
            </dict>
            <key>bullet4640003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,83}}</string>
                <key>sourceSize</key>
                <string>{62,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>464.png</string>
            <key>size</key>
            <string>{87,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d43b944aa7be62c6068ee93de59c440$</string>
            <key>textureFileName</key>
            <string>464.png</string>
        </dict>
    </dict>
</plist>
