<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet46420001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{101,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{101,103}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>bullet46420002.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,109},{97,103}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{97,103}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>bullet46420003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{105,105}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4642.png</string>
            <key>size</key>
            <string>{204,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a075240f9b0e54ae1867ee1d28417e3$</string>
            <key>textureFileName</key>
            <string>4642.png</string>
        </dict>
    </dict>
</plist>
