<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet750001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{83,57}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,57}}</string>
                <key>sourceSize</key>
                <string>{87,57}</string>
            </dict>
            <key>bullet750002.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{73,39}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{73,39}}</string>
                <key>sourceSize</key>
                <string>{87,57}</string>
            </dict>
            <key>bullet750003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{81,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,57}}</string>
                <key>sourceSize</key>
                <string>{87,57}</string>
            </dict>
            <key>bullet750004.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,77},{83,37}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{83,37}}</string>
                <key>sourceSize</key>
                <string>{87,57}</string>
            </dict>
            <key>bullet750005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,57}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,57}}</string>
                <key>sourceSize</key>
                <string>{87,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>75.png</string>
            <key>size</key>
            <string>{128,179}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee5355cb2fd147297e497fa3cff5c11a$</string>
            <key>textureFileName</key>
            <string>75.png</string>
        </dict>
    </dict>
</plist>
