<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet10210001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,45}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{55,45}}</string>
                <key>sourceSize</key>
                <string>{59,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1021.png</string>
            <key>size</key>
            <string>{59,49}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df445e9f12efa073d87f24200f03fc99$</string>
            <key>textureFileName</key>
            <string>1021.png</string>
        </dict>
    </dict>
</plist>
