<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet10310001.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{50,46}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{50,46}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>bullet10310002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{50,46}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{50,46}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>bullet10310003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{44,52}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1031.png</string>
            <key>size</key>
            <string>{96,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:763e5a216bca73f896fc3e5cdeeb3cf9$</string>
            <key>textureFileName</key>
            <string>1031.png</string>
        </dict>
    </dict>
</plist>
