<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet1140001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{118,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>bullet1140002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{116,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>bullet1140003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>114.png</string>
            <key>size</key>
            <string>{122,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe3789059e993fc36a129c97026f15cd$</string>
            <key>textureFileName</key>
            <string>114.png</string>
        </dict>
    </dict>
</plist>
