<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet30120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{64,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bullet30120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{72,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bullet30120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{64,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bullet30120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{66,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{66,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3012.png</string>
            <key>size</key>
            <string>{212,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d6599e79fced60b4da882f7dde2bc5d$</string>
            <key>textureFileName</key>
            <string>3012.png</string>
        </dict>
    </dict>
</plist>
