<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet32110001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,53}}</string>
                <key>sourceSize</key>
                <string>{39,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3211.png</string>
            <key>size</key>
            <string>{43,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f21817e723630e8cfe8e7b4e97c8c95$</string>
            <key>textureFileName</key>
            <string>3211.png</string>
        </dict>
    </dict>
</plist>
