<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet32120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{48,54}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{48,54}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>bullet32120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{60,66}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{60,66}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>bullet32120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{64,74}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3212.png</string>
            <key>size</key>
            <string>{128,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:748e533c121dd964b68840e62b77c8c2$</string>
            <key>textureFileName</key>
            <string>3212.png</string>
        </dict>
    </dict>
</plist>
