<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet32220001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{64,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{64,58}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>bullet32220002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{66,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{66,66}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>bullet32220003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,76}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3222.png</string>
            <key>size</key>
            <string>{88,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82b80170443d16104d83ab3421eea096$</string>
            <key>textureFileName</key>
            <string>3222.png</string>
        </dict>
    </dict>
</plist>
