<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet32320001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,55}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{116,55}}</string>
                <key>sourceSize</key>
                <string>{126,73}</string>
            </dict>
            <key>bullet32320002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{102,63}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{102,63}}</string>
                <key>sourceSize</key>
                <string>{126,73}</string>
            </dict>
            <key>bullet32320003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{114,71}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{114,71}}</string>
                <key>sourceSize</key>
                <string>{126,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3232.png</string>
            <key>size</key>
            <string>{120,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2129691f558161a282ac3fefcee2bda$</string>
            <key>textureFileName</key>
            <string>3232.png</string>
        </dict>
    </dict>
</plist>
