<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet3340001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,94},{98,90}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{98,90}}</string>
                <key>sourceSize</key>
                <string>{126,96}</string>
            </dict>
            <key>bullet3340002.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{110,90}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{110,90}}</string>
                <key>sourceSize</key>
                <string>{126,96}</string>
            </dict>
            <key>bullet3340003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,92}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{114,92}}</string>
                <key>sourceSize</key>
                <string>{126,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>334.png</string>
            <key>size</key>
            <string>{230,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1de787e3c4ac5a09c3b7c418d3b8b364$</string>
            <key>textureFileName</key>
            <string>334.png</string>
        </dict>
    </dict>
</plist>
