<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet40110001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4011.png</string>
            <key>size</key>
            <string>{29,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c726cb52ec20d69803f52174cecb38a$</string>
            <key>textureFileName</key>
            <string>4011.png</string>
        </dict>
    </dict>
</plist>
