<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet40320001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{63,61}}</string>
                <key>sourceSize</key>
                <string>{71,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4032.png</string>
            <key>size</key>
            <string>{67,65}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad1eddbaf1900e4f98237172639dce35$</string>
            <key>textureFileName</key>
            <string>4032.png</string>
        </dict>
    </dict>
</plist>
