<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet4610001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,55}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{42,55}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>461.png</string>
            <key>size</key>
            <string>{46,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8241d74e6281a599809d614bfd70ce83$</string>
            <key>textureFileName</key>
            <string>461.png</string>
        </dict>
    </dict>
</plist>
