<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet46410001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,100}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{75,100}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>bullet46410002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{69,98}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{69,98}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>bullet46410003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{93,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{93,98}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4641.png</string>
            <key>size</key>
            <string>{104,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23a5c57ae5c9a2fe58d0e0a7a1ba24f6$</string>
            <key>textureFileName</key>
            <string>4641.png</string>
        </dict>
    </dict>
</plist>
