<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet4730001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{93,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{93,101}}</string>
                <key>sourceSize</key>
                <string>{95,105}</string>
            </dict>
            <key>bullet4730002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{93,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{93,101}}</string>
                <key>sourceSize</key>
                <string>{95,105}</string>
            </dict>
            <key>bullet4730003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{93,101}}</string>
                <key>sourceSize</key>
                <string>{95,105}</string>
            </dict>
            <key>bullet4730004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{93,101}}</string>
                <key>sourceSize</key>
                <string>{95,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>473.png</string>
            <key>size</key>
            <string>{105,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9883c8097ba144fad4f04b3742642c16$</string>
            <key>textureFileName</key>
            <string>473.png</string>
        </dict>
    </dict>
</plist>
