<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet510001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,20}}</string>
                <key>sourceSize</key>
                <string>{83,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>51.png</string>
            <key>size</key>
            <string>{24,87}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f579188f8dac11a5fa3a42c2762c116e$</string>
            <key>textureFileName</key>
            <string>51.png</string>
        </dict>
    </dict>
</plist>
