<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet770001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,29}}</string>
                <key>sourceSize</key>
                <string>{58,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>77.png</string>
            <key>size</key>
            <string>{62,33}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:557349377d4b6f884fdae13eb4fd7d06$</string>
            <key>textureFileName</key>
            <string>77.png</string>
        </dict>
    </dict>
</plist>
